html, body
{
  background-color: #428bca;
  height: 100%;
}

body
{
  background-image: url(blue_music.jpg);
  background-size: 100% 100%;
  background-repeat: repeat-y;
}

p
{
  color: #202020;
  font-size: 110%;
  line-height: 130%;
  font-family: "Trebuchet MS", "Verdana", sans-serif;
}

div.container
{
  max-width: 760px;
  margin: auto;
  background-color: white;
  height: 100%;
  overflow: scroll;
}

h1, h2
{
  color: #428bca;
}

#cam
{
  position: absolute;
  top: -500px;
  left: -500px;
}

#login, #loggedin
{
  display: none;
}
.text-overflow 
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
#search-form, .form-control 
{
  margin-bottom: 20px; 
}
.cover 
{
  width: 200px;
  height: 200px;
  display: inline-block;
  background-size: cover;
}
.cover:hover 
{
  cursor: pointer;
  border: 5px solid #e45343;
}